/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */
body {
  background-color: black;
  font-family: "Poppins", Arial, sans-serif;
  color: white;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* position: ; */
  width: 100%;
  height: 100px;
  margin-bottom: 50px;
  background-color: black;
  position: sticky;
  top: 0;
}
.narbar_title {
  font-weight: 600;
  font-size: 20px;
}
.navbar_links ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  text-decoration: none;
}
.navbar_links ul li {
  list-style: none;
}
.navbar_links ul li a {
  position: relative;
  text-decoration: none;
  color: white;
  /* padding: 0 10px; */
}
.navbar_links ul li a::after {
  content: "";
  position: absolute;
  background-color: palevioletred;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
}
.navbar_links ul li a:hover::after {
  width: 100%;
}
.active {
  color: palevioletred;
}

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
}
.home_word {
  width: 30%;
}
.home_word p {
  color: palevioletred;
}
.home_word h1 {
  font-size: 65px;
  /* width: 50%; */
}
.home_word h1 span {
  color: palevioletred;
}
.home_picture {
  width: 35%;
}
.home_picture img {
  width: 100%;
  height: 650px;
  object-fit: cover;
}

.about {
  margin-top: 100px;
  width: 100%;
  /* height: 600px; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  transition: 3.2s;
}
.about_picture {
  width: 30%;
  height: 100%;
}
.about_picture img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}
.about_words {
  height: 90%;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
}
.about_words h2 {
  font-size: 45px;
}
.about_info {
  display: flex;
  gap: 15px;
}
.second_info,
.about_description {
  color: #ffffff95;
}
.about_project {
  font-size: 18px;
}
.about_project span {
  color: palevioletred;
}
.about button {
  font-size: 12px;
  padding: 15px 25px;
  border-radius: 30px;
  background-color: palevioletred;
}

.resume {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.resume h2 {
  font-size: 45px;
}
.resume_description {
  text-align: center;
  width: 60%;
  color: #ffffff95;
}
.resume_cards {
  display: flex;
  margin: 50px 120px;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.first_card {
  width: 38%;
  padding: 20px;
  background-color: rgb(57, 57, 57);
}

.year,
.degree {
  font-size: 30px;
}

.degree,
.place_of_study {
  font-weight: 200;
}
.year {
  color: palevioletred;
}
.card_description {
  color: #ffffff95;
}

#skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  gap: 30px;
}
#skill h2 {
  font-size: 45px;
}
.skill_decription {
  color: #ffffff95;
}
.skill-container {
  width: 80%;
  max-width: 600px;
}

.skill {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.progress-bar {
  width: 100%;
  height: 10px;
  background-color: #2e2e2e;
  border-radius: 5px;
  overflow: hidden;
}

.progress {
  height: 100%;
  background-color: palevioletred;
  border-radius: 5px;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin: 100px 0;
}
.contact h2 {
  font-size: 45px;
}
.contact_description {
  width: 45%;
  text-align: center;
  color: #ffffff95;
}
.contact_card {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 90px;
}
.address_cards {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}
.address_cards img {
  padding: 25px;
  width: 50px;
  background-color: #2e2e2e;
  border-radius: 50px;
}
